In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv("csv_files/iris.csv")

In [3]:
iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test = train_test_split(iris.iloc[:,0:3],iris.iloc[:,-1],test_size=0.20)

## Column Transforming using sklearn ColumnTransformer class

In [7]:
from sklearn.compose import ColumnTransformer

In [8]:
from sklearn.preprocessing import LabelEncoder

<h3 style="color:red;">IMPORTANT - Always Use LabelEncoder in Output column</h3>

In [9]:
transformer = LabelEncoder() # Make object of LabelEncoder class

In [10]:
y_train_transformed = transformer.fit_transform(y_train) # Then fit and transform the train and test column field

In [11]:
y_test_transformed = transformer.transform(y_test)

In [12]:
y_train_transformed

array([1, 2, 2, 1, 1, 0, 0, 1, 1, 2, 2, 1, 2, 1, 0, 0, 0, 1, 0, 2, 1, 0,
       1, 0, 1, 2, 1, 1, 1, 2, 1, 2, 2, 0, 0, 2, 1, 1, 2, 2, 1, 0, 2, 1,
       1, 0, 1, 2, 1, 2, 1, 2, 0, 2, 2, 2, 2, 2, 0, 1, 0, 1, 0, 0, 2, 0,
       0, 1, 1, 2, 0, 0, 1, 0, 0, 1, 0, 2, 2, 1, 2, 0, 2, 0, 2, 1, 1, 2,
       1, 1, 0, 0, 2, 1, 0, 2, 0, 2, 2, 2, 1, 1, 0, 0, 2, 1, 1, 0, 1, 1,
       1, 0, 2, 1, 2, 2, 0, 2, 2, 0])

In [13]:
y_train_transformed.ndim

1

In [14]:
y_train.head()

62     Iris-versicolor
130     Iris-virginica
103     Iris-virginica
54     Iris-versicolor
96     Iris-versicolor
Name: Species, dtype: object

In [15]:
y_train.shape

(120,)

In [30]:
train_species = pd.DataFrame(y_train_transformed)
test_species = pd.DataFrame(y_test_transformed)

In [31]:
train_species.rename(columns={0:"Species"},inplace=True)
test_species.rename(columns={0:"Species"},inplace=True)

In [32]:
train_species.head()

   Species
0        1
1        2
2        2
3        1
4        1

In [35]:
y_train = train_species
y_test = test_species

In [36]:
y_train.head()

   Species
0        1
1        2
2        2
3        1
4        1

In [37]:
y_train.value_counts()

Species
1          43
2          41
0          36
dtype: int64