In [1]:
In [1]: import pandas as pd

In [6]:
# Reading csv file with the help of pandas library

In [20]:
df = pd.read_csv('csv_files/iris.csv')

In [21]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [22]:
df.shape

(150, 5)

In [24]:
# Select subset of the dataset

In [25]:
df['SepalLengthCm']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [26]:
# Rename filedname

In [29]:
df.rename(columns={'SepalLengthCm':"SLength","Species":"Flower Name"},inplace=True)

In [30]:
df.head()

   SLength  SepalWidthCm  PetalLengthCm  PetalWidthCm  Flower Name
0      5.1           3.5            1.4           0.2  Iris-setosa
1      4.9           3.0            1.4           0.2  Iris-setosa
2      4.7           3.2            1.3           0.2  Iris-setosa
3      4.6           3.1            1.5           0.2  Iris-setosa
4      5.0           3.6            1.4           0.2  Iris-setosa

In [31]:
# Drop fields

In [32]:
df.drop(columns={"PetalLengthCm"},inplace=True)

In [33]:
df.head()

   SLength  SepalWidthCm  PetalWidthCm  Flower Name
0      5.1           3.5           0.2  Iris-setosa
1      4.9           3.0           0.2  Iris-setosa
2      4.7           3.2           0.2  Iris-setosa
3      4.6           3.1           0.2  Iris-setosa
4      5.0           3.6           0.2  Iris-setosa

In [35]:
# Count values of any field

In [36]:
df['Flower Name'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Flower Name, dtype: int64

In [39]:
df[['SepalWidthCm']].value_counts()

SepalWidthCm
3.0             26
2.8             14
3.2             13
3.4             12
3.1             12
2.9             10
2.7              9
2.5              8
3.3              6
3.5              6
3.8              6
2.6              5
2.3              4
2.4              3
2.2              3
3.6              3
3.7              3
3.9              2
4.1              1
4.2              1
2.0              1
4.0              1
4.4              1
dtype: int64

In [40]:
# Get overall information about the dataset

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SLength       150 non-null    float64
 1   SepalWidthCm  150 non-null    float64
 2   PetalWidthCm  150 non-null    float64
 3   Flower Name   150 non-null    object
dtypes: float64(3), object(1)
memory usage: 4.8+ KB

In [42]:
# Get overall statistics about dataset

In [43]:
df.describe()

          SLength  SepalWidthCm  PetalWidthCm
count  150.000000    150.000000    150.000000
mean     5.843333      3.054000      1.198667
std      0.828066      0.433594      0.763161
min      4.300000      2.000000      0.100000
25%      5.100000      2.800000      0.300000
50%      5.800000      3.000000      1.300000
75%      6.400000      3.300000      1.800000
max      7.900000      4.400000      2.500000

In [47]:
df['SLength'].describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: SLength, dtype: float64

In [50]:
df.sample(5)

     SLength  SepalWidthCm  PetalWidthCm      Flower Name
22       4.6           3.6           0.2      Iris-setosa
72       6.3           2.5           1.5  Iris-versicolor
34       4.9           3.1           0.1      Iris-setosa
29       4.7           3.2           0.2      Iris-setosa
104      6.5           3.0           2.2   Iris-virginica

In [52]:
# Select perticular rows and columns

In [53]:
df.iloc[0:10,1:3]

   SepalWidthCm  PetalWidthCm
0           3.5           0.2
1           3.0           0.2
2           3.2           0.2
3           3.1           0.2
4           3.6           0.2
5           3.9           0.4
6           3.4           0.3
7           3.4           0.2
8           2.9           0.2
9           3.1           0.1

In [72]:
newtable = df[df['SepalWidthCm'] > 1]['Flower Name']

In [80]:
newtable.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Flower Name, dtype: object

In [82]:
#  Get all columns name from the dataset

In [83]:
df.columns

Index(['SLength', 'SepalWidthCm', 'PetalWidthCm', 'Flower Name'], dtype='object')

In [84]:
df.head()

   SLength  SepalWidthCm  PetalWidthCm  Flower Name
0      5.1           3.5           0.2  Iris-setosa
1      4.9           3.0           0.2  Iris-setosa
2      4.7           3.2           0.2  Iris-setosa
3      4.6           3.1           0.2  Iris-setosa
4      5.0           3.6           0.2  Iris-setosa

In [87]:
# Creating new Column field over existing fields of the dataset

In [88]:
df['SumofSlengthPlength'] = df['SLength']+df['PetalWidthCm']

In [86]:
df.head()

   SLength  SepalWidthCm  PetalWidthCm  Flower Name  SumofSlengthPlength
0      5.1           3.5           0.2  Iris-setosa                  5.3
1      4.9           3.0           0.2  Iris-setosa                  5.1
2      4.7           3.2           0.2  Iris-setosa                  4.9
3      4.6           3.1           0.2  Iris-setosa                  4.8
4      5.0           3.6           0.2  Iris-setosa                  5.2

In [89]:
df['SumofSepalWidthCmPlength'] = df['SepalWidthCm']+df['PetalWidthCm']

In [90]:
df.head()

,SLength,SepalWidthCm,PetalWidthCm,Flower Name,SumofSlengthPlength,SumofSepalWidthCmPlength
0,5.1,3.5,0.2,Iris-setosa,5.3,3.7
1,4.9,3.0,0.2,Iris-setosa,5.1,3.2
2,4.7,3.2,0.2,Iris-setosa,4.9,3.4
3,4.6,3.1,0.2,Iris-setosa,4.8,3.3
4,5.0,3.6,0.2,Iris-setosa,5.2,3.8

In [93]:
df['Flower Name'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Flower Name, dtype: int64